<!-- Menu Bar -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a ref="#">Portfolio Manager</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/dashboard">Home</a> |
    <a class="p-2 text-dark" routerLink="/companies/bist">BIST Companies</a> |
    <a class="p-2 text-dark" routerLink="/companies/eu">IB Companies</a> | 
   
    <a class="p-2 text-dark" href="#" id="operations" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operations</a>
      <div class="dropdown-menu" aria-labelledby="operations">
        <a class="dropdown-item" routerLink="/company/add">Add Company</a>
        <a class="dropdown-item" href="#">Add Exchange</a>
        <a class="dropdown-item" href="#">Add Period</a> 
      </div>
   
  </nav>
</div>

<div class="container">  
  <router-outlet></router-outlet>
</div>