<div style="text-align: right">
  <button type="button" class="btn" (click)="updatePrices()">{{updateButtontText}}</button>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Portfolio Manager</h1>
  <br/>
  <br/>
</div>

<div class="dashboard-main">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">

      <div class="card-header">
        <h4 class="my-0 font-weight-normal">BIST</h4>
      </div>

      <div class="card-body">
        <h3 class="card-title pricing-card-title">Companies listed on</h3>
        <h3> Borsa Istanbul</h3>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/companies/bist">List</button>
      </div>

    </div>

    <div class="card mb-4 box-shadow">


      <div class="card-header">
        <h4 class="my-0 font-weight-normal">IB</h4>

      </div>

      <div class="card-body">
        <h3 class="card-title pricing-card-title">Companies listed on</h3>
        <h3> EU Stock Exchanges</h3>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/companies/eu">List</button>
      </div>

    </div>

  </div>
</div>