<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="ABC">
  </div>
  <div class="form-group">
    <label for="symbol">Symbol</label>
    <input type="text" class="form-control" id="symbol" placeholder="ABC">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" placeholder="12.34">
  </div>  
  <div class="form-group">
    <label for="exchange">Exchange</label>
    <select class="form-control" id="exchange">
      <option>BIST</option>
      <option>EU</option>
    </select>
  </div>
  <div class="form-group">
    <label for="stock-url">Stock URL</label>
    <input type="text" class="form-control" id="stock-url" placeholder="ABC">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
</form>